<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
<<<<<<< HEAD
    <h1>Pig Latinizer!</h1>
    <form method="post" action="/piglatinize">
    <p>Enter your phrase:</p>
=======
    <h1>Pig Latinizer</h1>
    <form method="post" action="/piglatinize">
    <p>Input the text you want pig latinized here:</p>
>>>>>>> 1ef3e4b1ef6ab60884b23dd6ea11af0c614f86b4
    <textarea name="user_phrase"></textarea>
    <br>
    <button type="submit" value="submit">Submit</button>
  </form>
  </body>
</html>